<!DOCTYPE html>
<html>
<head>
  <title>MUNiM</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> 
  <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="assets/style.css" />
<script type="text/javascript" src="assets/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body class="body_color">
		<div>
			<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
			    <div class="container-fluid" style="background-color: #083A80">
			        <div class="navbar-header">
			        	<%=link_to("MUNiM", root_path,class:"navbar-brand")%>
			            <button type="button" class="glyphicon glyphicon-menu-down navbar-toggle drop-down" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
			            </button>
			        </div>
			        <div class="collapse navbar-collapse navbar-menubuilder" >
			            <ul class="nav navbar-nav navbar-right"  >
			                <li><%=link_to("About Us",home_about_path, class:"rest")%>
			                </li>
			                <li><div class="dropdown">
								  <button class="dropbtn">Committees</button>
								  <div class="dropdown-content">
								  	<%=link_to("Security Council",committee_Securtiy_path)%>
								  	<%=link_to("Social, Humanitarian, and Cultural Committee",committee_SHC_path)%>
								  	<%=link_to("European Union",committee_EU_path)%>
								  	<%=link_to("Environmental Committee",committee_Environmental_path)%>
								  	<%=link_to("Historical Committee",committee_Historical_path)%>
								  	<%=link_to("World Trade Organization",committee_WTO_path)%>
								  	<%=link_to("General Assembley",committee_GA_path)%>
								  </div>
								</div>
			                </li>
			                <li><%=link_to("Schedule",home_schedule_path, class:"rest")%>
			                </li>
			                <li><%= link_to("Contact Us",home_contact_path, class:"rest")%>
			                </li>
			                <li ><%= link_to("Apply now!",home_registration_path, class:"blue",id:"apply" )%>
			                </li>
			            </ul>
			        </div>
			    </div>
			</div>
		</div>
		<div class="body">
		<%= yield %>
		</div>
		 <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	</body>
</html>
